USE [master]
GO
/****** Object:  Database [JXGL]    Script Date: 10/29/2018 12:52:33 ******/
CREATE DATABASE [JXGL] ON  PRIMARY 
( NAME = N'JXGL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\JXGL.mdf' , SIZE = 3072KB , MAXSIZE = 51200KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JXGL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\JXGL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JXGL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JXGL]
GO
/****** Object:  Table [dbo].[S]    Script Date: 10/29/2018 12:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[S](
	[sno] [char](9) NOT NULL,
	[sname] [char](20) NULL,
	[ssex] [char](2) NULL,
	[sage] [smallint] NULL,
	[sdept] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[sname] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[C]    Script Date: 10/29/2018 12:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[C](
	[cno] [char](4) NOT NULL,
	[cname] [char](40) NULL,
	[cpno] [char](4) NULL,
	[ccredit] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[cno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SC]    Script Date: 10/29/2018 12:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SC](
	[sno] [char](9) NOT NULL,
	[cno] [char](4) NOT NULL,
	[grade] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[sno] ASC,
	[cno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK__C__ccredit__07F6335A]    Script Date: 10/29/2018 12:52:34 ******/
ALTER TABLE [dbo].[C]  WITH CHECK ADD FOREIGN KEY([cpno])
REFERENCES [dbo].[C] ([cno])
GO
/****** Object:  ForeignKey [FK__SC__cno__0DAF0CB0]    Script Date: 10/29/2018 12:52:34 ******/
ALTER TABLE [dbo].[SC]  WITH CHECK ADD FOREIGN KEY([cno])
REFERENCES [dbo].[C] ([cno])
GO
/****** Object:  ForeignKey [FK__SC__sno__0CBAE877]    Script Date: 10/29/2018 12:52:34 ******/
ALTER TABLE [dbo].[SC]  WITH CHECK ADD FOREIGN KEY([sno])
REFERENCES [dbo].[S] ([sno])
GO
